<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pel칤culas</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <%- include('../includes/head') %>

    <style>
        #nuevaPeliculaForm {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            padding: 20px;
            z-index: 1000;
            width: 80%;
            max-width: 400px;
        }

        #cerrarPopupBtn {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
        }

        .scrollable-form {
            max-height: 600px;
            overflow-y: auto;
            overflow-x: hidden;
        }

        .table-responsive {
            overflow-x: auto;
        }

        .table-custom {
            min-width: 1500px;
        }
    </style>
</head>

<body>

    <header class="header">
        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
        <ul class="menu">
            <li>
                <a class="menu-item" href="/Crud-Completo-con-NodeJS-Express-y-MySQL">Inicio</a>
            </li>
            <li>
                <a class="menu-item" href="/salas">Salas</a>
            </li>
            <li>
                <a class="menu-item" href="/Crud-usuarios">Lista Usuarios</a>
            </li>
            <li>
                <a href="/lista-Peliculas">Peliculas</a>
            </li>
        </ul>
        <ul>

        </ul>
        <ul>
            <li class="menu-item-right">
                <a class="menu-item" href="/">Cerrar sesi칩n</a>
            </li>
        </ul>
    </header>
    <div class="container" style="margin-top: 80px !important">
        <div class="row justify-content-center mb-5">
            <div class="col-md-12 mt-2 text-center">
                <h2 class="title">Peliculas</h2>
                <div class="col-md-3">
                    <label class="invisible">Bot칩n Formulario</label>
                    <a href="javascript:void(0);" class="btn btn-primary btn-block" onclick="togglePopup()">A침adir
                        Pel칤cula</a>
                </div>
            </div>
        </div>
    </div>


    <div id="nuevaPeliculaForm" class="col-md-5 py-3 custom_table mx-auto">
        <div class="scrollable-form">
            <form id="formNuevaPelicula" action="/peliculas" method="POST" onsubmit="return validarNuevaPelicula()"
                enctype="multipart/form-data">
                <h2 class="text-center title">Agregar Pel칤cula</h2>
                <!-- Campos del formulario -->
                <div class="mb-3">
                    <label for="nombre_pelicula" class="form-label">Nombre Pelicula</label>
                    <input type="text" name="nombre_pelicula" id="nombrepelicula" class="form-control" required />
                </div>
                <div class="mb-3">
                    <label for="sinopsis" class="form-label">Sinopsis</label>
                    <input type="text" name="sinopsis" id="sinopsis" class="form-control" required />
                </div>
                <div class="mb-3">
                    <label for="duracion" class="form-label">Duraci칩n</label>
                    <input type="text" name="duracion" id="duracion" class="form-control" required />
                </div>
                <div class="mb-3">
                    <label for="genero" class="form-label">G칠nero</label>
                    <select class="form-select" name="genero" id="genero" required>
                        <option value="">Seleccionar G칠nero</option>
                        <option value="Acci칩n">Acci칩n</option>
                        <option value="Comedia">Comedia</option>
                        <option value="Drama">Drama</option>
                        <!-- Agrega m치s opciones seg칰n sea necesario -->
                    </select>
                </div>
                <div class="mb-3">
                    <label for="estado" class="form-label">Estado de Pel칤cula</label>
                    <select class="form-select" name="estado" id="estado" required>
                        <option value="">Seleccionar Estado de Pel칤cula</option>
                        <option value="Activa">Activa</option>
                        <option value="Inactiva">Inactiva</option>
                        <!-- Agrega m치s opciones seg칰n sea necesario -->
                    </select>
                </div>

                <div class="mb-3">
                    <label for="imagen" class="form-label">Imagen</label>
                    <input type="file" name="imagen" id="imagen" class="form-control" required />
                </div>
                <div class="mb-3">
                    <label for="precio" class="form-label">Precio</label>
                    <input type="text" name="precio" id="precio" class="form-control" required />
                </div>
                <div class="row">
                    <div class="d-grid gap-2 col-12 mx-auto ">
                        <button class="btn btn-primary btn-block" type="submit">Agregar Pel칤cula</button>
                    </div>
                    <div class="d-grid gap-2 col-12 mx-auto mt-4 mb-4">
                        <button class="btn btn-danger btn-block" type="button" onclick="cerrarPopup()">Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="mensajeNoEncontrado" class="alert alert-warning mt-3" style="display: none;">Pel칤cula no encontrada.
    </div>

    <!-- Tabla para mostrar las pel칤culas -->
    
    <div class="col-md-8 py-3 m-5 custom_table mx-auto">
        <form id="filterForm" class="mb-3">
            <div class="input-group mb-2">
                <input type="text" class="form-control" placeholder="Buscar Pel칤cula" id="busquedaPelicula">
                <button class="btn btn-outline-secondary" type="button" onclick="buscarPelicula()">游댍</button>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="tipoPelicula">Tipo de Pel칤cula</label>
                    <select class="form-select" id="tipoPelicula">
                        <option value="">Tipo</option>
                        <option value="Acci칩n">Acci칩n</option>
                        <option value="Comedia">Comedia</option>
                        <option value="Drama">Drama</option>
                        <!-- Agrega m치s opciones seg칰n sea necesario -->
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="estadoPelicula">Estado de Pel칤cula</label>
                    <select class="form-select" id="estadoPelicula">
                        <option value="">Estado</option>
                        <option value="Activa">Activa</option>
                        <option value="Inactiva">Inactiva</option>
                        <!-- Agrega m치s opciones seg칰n sea necesario -->
                    </select>
                </div>
            </div>
        </form>

        <!-- Tabla de Pel칤culas -->
        <div class="container">
            <div class="table-responsive">
                <table id="tablaPeliculas" class="table custom-table">
                    <thead>
                        <tr>
                            <th>#</th>
                            
                            <th>Nombre</th>
                            <th class="text-center">Sinopsis</th>
                            <th class="text-center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Aqu칤 se deben mostrar las pel칤culas -->
                        <% peliculas.forEach((pelicula, index) => { %>
                            <tr class="filaPelicula">
                                <td><strong>
                                    <%= index + 1 %>
                                </strong></td>
                                
                                <td>
                                    <%= pelicula.nombre_pelicula %>                                   
                                </td>
                                <td>
                                    <%= pelicula.sinopsis %>...
                                </td>
                                <td>
                                    <span>
                                        <!-- Bot칩n para editar la pel칤cula -->
                                        <a href="/formulario-actualizar-pelicula/<%= pelicula.id_pelicula %>" class="btn btn-success success_especial">Editar</a>
                    
                                        <!-- Bot칩n para eliminar la pel칤cula -->
                                        <form id="formEliminarPelicula_<%= pelicula.id_pelicula %>" action="/borrar-pelicula/<%= pelicula.id_pelicula %>" method="POST">
                                            <!-- Agregar campo oculto para enviar el m칠todo DELETE -->
                                            <input type="hidden" name="_method" value="DELETE" />
                                            <button type="button" class="btn btn-danger" onclick="confirmarEliminarPelicula('<%= pelicula.id_pelicula %>')">Eliminar</button>
                                        </form>
                                    </span>
                                </td>
                            </tr>
                        <% }); %>
                    </tbody>
                    
                </table>
            </div>
        </div>
        <div class="col-md-6 text-end">
            <!-- Alineado a la derecha -->
            <nav aria-label="Paginaci칩n">
                <ul class="pagination justify-content-end">
                    <!-- Alineado a la derecha -->
                    <li class="page-item" id="paginacionAnterior">
                        <a class="page-link" href="#" aria-label="Anterior">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item" id="paginacionSiguiente">
                        <a class="page-link" href="#" aria-label="Siguiente">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <script>
        function togglePopup() {
            const popup = document.getElementById('nuevaPeliculaForm');
            popup.style.display = (popup.style.display === 'none' || popup.style.display === '') ? 'block' : 'none';
        }

        function cerrarPopup() {
            document.getElementById('nuevaPeliculaForm').style.display = 'none';
        }

        function validarNuevaPelicula() {
            // L칩gica de validaci칩n del formulario
            return true; // Devuelve true si el formulario es v치lido, de lo contrario devuelve false
        }

        function buscarPelicula() {
            const input = document.getElementById('busquedaPelicula').value;
            const tipoPelicula = document.getElementById('tipoPelicula').value;
            const estadoPelicula = document.getElementById('estadoPelicula').value;

            // L칩gica para filtrar pel칤culas seg칰n los criterios de b칰squeda
            const peliculasFiltradas = peliculas.filter(pelicula => {
                return pelicula.nombre_pelicula.toLowerCase().includes(input.toLowerCase()) &&
                    (tipoPelicula === '' || pelicula.genero === tipoPelicula) &&
                    (estadoPelicula === '' || pelicula.estado === estadoPelicula);
            });

            if (peliculasFiltradas.length > 0) {
                // Muestra las pel칤culas filtradas
                mostrarPeliculasFiltradas(peliculasFiltradas);
            } else {
                // Muestra un mensaje de alerta si no se encuentran pel칤culas
                mostrarAlertaNoEncontrado();
            }
        }

        // Funci칩n para mostrar las pel칤culas filtradas en la tabla
        function mostrarPeliculasFiltradas(peliculasFiltradas) {
            const tablaPeliculas = document.getElementById('tablaPeliculas').getElementsByTagName('tbody')[0];
            tablaPeliculas.innerHTML = ''; // Limpia la tabla

            peliculasFiltradas.forEach((pelicula, index) => {
                const fila = `
                    <tr class="filaPelicula">
                        <td><strong>${index + 1}</strong></td>
                        <td><img src="${pelicula.imagen}" style="max-width: 100px; height: auto;"></td>
                        <td>${pelicula.nombre_pelicula}</td>
                        <td>${pelicula.sinopsis.substring(0, 20)}...</td>
                        <td>
                            <span>
                                <a href="/formulario-actualizar-pelicula/${pelicula.id_pelicula}"
                                    class="btn btn-success success_especial">Editar</a>
                                <form id="formEliminarPelicula"
                                    action="/borrar-pelicula/${pelicula.id_pelicula}" method="POST"
                                    onsubmit="return confirmarEliminarPelicula()">
                                    <input type="hidden" name="_method" value="DELETE" />
                                    <button type="submit" class="btn btn-danger">Eliminar</button>
                                </form>
                            </span>
                        </td>
                    </tr>`;
                tablaPeliculas.innerHTML += fila;
            });
        }

        // Funci칩n para mostrar un mensaje de alerta si no se encuentran pel칤culas
        function mostrarAlertaNoEncontrado() {
            Swal.fire({
                icon: 'warning',
                title: 'No se encontraron pel칤culas',
                text: 'Intente con otros criterios de b칰squeda',
            });
        }

        // Variables para controlar la paginaci칩n
        var currentPage = 1;
        var peliculasPerPage = 4; // N칰mero de pel칤culas por p치gina
        var peliculas = JSON.parse('<%- JSON.stringify(peliculas) %>');

        // Funci칩n para mostrar las pel칤culas en la tabla seg칰n la p치gina actual
        function mostrarPeliculas() {
            var startIndex = (currentPage - 1) * peliculasPerPage;
            var endIndex = startIndex + peliculasPerPage;
            var totalPeliculas = peliculas.length;

            // Oculta todas las filas de pel칤culas
            var filasPeliculas = document.querySelectorAll('.filaPelicula');
            filasPeliculas.forEach(function (fila) {
                fila.style.display = 'none';
            });

            // Muestra las filas correspondientes a la p치gina actual
            for (var j = startIndex; j < endIndex && j < totalPeliculas; j++) {
                filasPeliculas[j].style.display = '';
            }
        }
        function confirmarEliminarPelicula(id_pelicula) {
            Swal.fire({
                title: '쮼st치s seguro de eliminar esta pel칤cula?',
                text: 'Esta acci칩n no se puede deshacer',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Eliminar',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Si el usuario confirma, se env칤a el formulario para eliminar la pel칤cula
                    document.getElementById('formEliminarPelicula_' + id_pelicula).submit();
                }
            });
        }
        // Funci칩n para manejar el clic en el bot칩n de p치gina anterior
        document.getElementById('paginacionAnterior').addEventListener('click', function (event) {
            event.preventDefault();
            if (currentPage > 1) {
                currentPage--;
                mostrarPeliculas();
            }
        });

        // Funci칩n para manejar el clic en el bot칩n de p치gina siguiente
        document.getElementById('paginacionSiguiente').addEventListener('click', function (event) {
            event.preventDefault();
            var totalPages = Math.ceil(peliculas.length / peliculasPerPage);
            if (currentPage < totalPages) {
                currentPage++;
                mostrarPeliculas();
            }
        });

        // Mostrar pel칤culas cuando se carga la p치gina
        window.addEventListener('load', function () {
            mostrarPeliculas();
        });
    </script>
</body>

</html>
